<!doctype html>
<html lang="en" ng-app="restaurantList">
    <head>
        <meta charset="UTF-8">
        <title>Student App</title>
        <script src="lib/angular.js"></script>
        <script src="app.js"></script>
        <script src="js/RestaurantsController.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <title>Best Restaurants in Town</title>
    </head>
    <body>
        <div class="container" ng-controller="RestaurantsCtrl">
            <!-- Displays a list of restaurants-->
            <div class="row">
                <div class="col-md-12">
                    <h2>Restaurant List</h2>
                    <ul>
                        <li ng-repeat="item in restaurants">
                            <!-- Edits a restaurant -->
                            <span ng-click="editing = true" ng-hide="editing">
                            {{ item.name }} <a ng-click="deleteRestaurant(item)">Delete</a>
                            </span>
                            <span class="form-group" ng-show="editing" ng-submit="editing = false">
                                <form class="form-inline" role="form">
                                    <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required>
                                    <button name="btn btn-default btn-sm" type="submit">Save</button>
                                </form>
                            </span>
                        </li>
                    </ul>
               </div>
           </div>
            <!-- Adds a restaurant -->
            <div class="row">
                <div class="col-md-4">
                    <h2>New Restaurant</h2>
                    <form ng-submit="addRestaurant()" class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" ng-model="restaurantName" class="form-control">
                        </div>
                        <button name="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
